<!-- Carousel -->
<div data-carousel class="carousel">
        
    <button data-slide-button="prev" class="prev-slide-button slide-button">&#8656</button> 
    <button data-slide-button="next" class="next-slide-button slide-button">&#8658</button>  

    <div data-slides class="slides">
        <img class="slide-image" src="/images/card-image.png" alt="image1">
        <img data-active class="slide-image" src="/images/cover.png" alt="image2">
        <img class="slide-image" src="/images/cover2.png" alt="image3">
    </div>
</div>

<main class="main-content">
    <div class="description">
        <h2 class="description-heading">Manage Users</h2>
        <p class="description-para">Just a simple <em>CRUD</em> application to manage users.</p>
        <p class="description-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque omnis accusamus autem a repellendus ea! Culpa iste magnam deserunt debitis sunt harum, sit voluptatum voluptatibus libero et eligendi repellat numquam nostrum neque tempora adipisci. Eligendi officia mollitia officiis, facilis porro, nulla, ut iure labore voluptatem unde necessitatibus et voluptas. Recusandae cumque facere porro earum assumenda quaerat cum fugiat praesentium? Deserunt ut quasi, blanditiis a ex illum vitae, laudantium iusto ipsam quae consequatur distinctio voluptatem voluptatum totam adipisci nemo temporibus veritatis iste laborum iure. Vero, quod est velit explicabo quas sunt ea, labore inventore quae rem tempore, architecto harum dolor nesciunt!
        </p>
    </div>

    <div class="about">
        <div class="card">
            <h3 class="card-heading card-item">Heading</h3>
            <img class="card-image card-item" src="./images/card-image.png" alt="card-image">
            <span class="card-description card-item">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eaque fugiat deserunt laborum at perspiciatis!
            </span>
            <div class="card-action-buttons card-item">
                <button class="like-button card-button">LIKE</button>
                <button class="follow-button card-button">FOLLOW</button>
            </div>
        </div>

        <div class="card">
            <h3 class="card-heading card-item">Heading</h3>
            <img class="card-image card-item" src="./images/card-image.png" alt="card-image">
            <span class="card-description card-item">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eaque fugiat deserunt laborum at perspiciatis!
            </span>
            <div class="card-action-buttons card-item">
                <button class="like-button card-button">LIKE</button>
                <button class="follow-button card-button">FOLLOW</button>
            </div>
        </div>

        <div class="card">
            <h3 class="card-heading card-item">Heading</h3>
            <img class="card-image card-item" src="./images/card-image.png" alt="card-image">
            <span class="card-description card-item">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eaque fugiat deserunt laborum at perspiciatis!
            </span>
            <div class="card-action-buttons card-item">
                <button class="like-button card-button">LIKE</button>
                <button class="follow-button card-button">FOLLOW</button>
            </div>
        </div>
        
        <div class="card">
            <h3 class="card-heading card-item">Heading</h3>
            <img class="card-image card-item" src="./images/card-image.png" alt="card-image">
            <span class="card-description card-item">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eaque fugiat deserunt laborum at perspiciatis!
            </span>
            <div class="card-action-buttons card-item">
                <button class="like-button card-button">LIKE</button>
                <button class="follow-button card-button">FOLLOW</button>
            </div>
        </div>  

        <div class="card">
            <h3 class="card-heading card-item">Heading</h3>
            <img class="card-image card-item" src="./images/card-image.png" alt="card-image">
            <span class="card-description card-item">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eaque fugiat deserunt laborum at perspiciatis!
            </span>
            <div class="card-action-buttons card-item">
                <button class="like-button card-button">LIKE</button>
                <button class="follow-button card-button">FOLLOW</button>
            </div>
        </div>  
        
    </div>

    <section class="one-punch-man-section">
        ONE PUNCH MAN: A HERO NOBODY KNOWS is an action fighting game set in a universe where threats are daily occurrences and heroes the sole hope against annihilation. Saitama the main protagonist, is a hero that can obliterate even the strongest foes with a single punch, a situation that bother him to no end. The game will feature 3 vs. 3 battles, where players can form powerful teams using many familiar faces, the first confirmed playable characters being Genos, Hellish Blizzard, Mumen Rider, Speed-o'-Sound Sonic and Saitama.
        ONE PUNCH MAN: A HERO NOBODY KNOWS is an action fighting game set in a universe where threats are daily occurrences and heroes the sole hope against annihilation. Saitama the main protagonist, is a hero that can obliterate even the strongest foes with a single punch, a situation that bother him to no end. The game will feature 3 vs. 3 battles, where players can form powerful teams using many familiar faces, the first confirmed playable characters being Genos, Hellish Blizzard, Mumen Rider, Speed-o'-Sound Sonic and Saitama.
        ONE PUNCH MAN: A HERO NOBODY KNOWS is an action fighting game set in a universe where threats are daily occurrences and heroes the sole hope against annihilation. Saitama the main protagonist, is a hero that can obliterate even the strongest foes with a single punch, a situation that bother him to no end. The game will feature 3 vs. 3 battles, where players can form powerful teams using many familiar faces, the first confirmed playable characters being Genos, Hellish Blizzard, Mumen Rider, Speed-o'-Sound Sonic and Saitama.
    </section>
</main>

<!-- Now using ejs to load js file in head of the page -->
<!-- <script defer src="/js/index.js"></script> -->